<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
      <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">

<!-- script for google analytics -->
			<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-104392178-1', 'auto');
		  ga('send', 'pageview');
		</script>

		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>

          <ul>
              <li><a href="https://github.com/keithostertag"><img src="https://keithostertag.github.io/images/github.svg" class="icon"></a></li>
              <li><a href="mailto:keith@card16.com"><img src="https://keithostertag.github.io/images/email_icon.svg" class="icon"></a></li>
              <li><a href="https://www.linkedin.com/in/keithostertag/"><img src="https://keithostertag.github.io/images/linkedin.svg" class="icon"></a></li>
          </ul>

			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
        <div class="archive">
          {% include archive.html %}
        </div>
      </br>
      <a href="/about"><span style="font-size: 1rem">About </span></a>Keith and this blog
			</footer>
		</body>
	</html>
