<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
      <!-- <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet"> -->
      <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>

          <ul>
              <li><a href="https://github.com/keithostertag"><img src="https://keithostertag.github.io/images/github.svg" class="icon"></a></li>
              <li><a href="mailto:keith@card16.com"><img src="https://keithostertag.github.io/images/email_icon.svg" class="icon"></a></li>
              <li><a href="https://www.linkedin.com/in/keithostertag/"><img src="https://keithostertag.github.io/images/linkedin.svg" class="icon"></a></li>
          </ul>

			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
        <div class="archive">
          {% include archive.html %}
        </div>

			</footer>
		</body>
	</html>
